<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      {% if site.logo %}
        <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" class="site-logo">
      {% endif %}
      {{ site.title | escape }}
    </a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ "/welcome/" | relative_url }}">The Welcome Mat</a>
        <a class="page-link" href="{{ "/kitchen/" | relative_url }}">The Kitchen</a>
        <a class="page-link" href="{{ "/table/" | relative_url }}">The Table</a>
        <a class="page-link" href="{{ "/journal/" | relative_url }}">The Journal</a>
      </div>
    </nav>
  </div>
</header>
